body {
  background-color: #fff;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

nav {
  width: 80%;
  border-radius: 4px;
  height: 40px;
  margin: 80px auto 40px auto;
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgb(71, 70, 70) 47%,rgba(142,142,142,1) 92%); 
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  align-items: center;
}

.nav-item {
  border-left: 1px solid rgb(122, 118, 118);
  line-height: 2;
  text-align: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #08c;
}

nav ul li a {
  color: #fff;
}

nav svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.searchbar input {
  width: 100px;
  border-radius: 40px;
  border-radius: 1px solid transparent;
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgb(71, 70, 70) 47%,rgba(142,142,142,1) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.hero-section {
  background: url(../img/center_image.jpg);
  overflow: hidden;
  width: 100%;
  background-position: 0 110%;
  background-size: cover;
  height: 60%;
}

.hero-text {
  margin-top: 60px;
  text-align: center;
  padding: 0 200px;
  color: #fff;
  margin-bottom: 200px;
  
}

.hero-text .p1 {
  font-size: 75px;
  line-height: 60px;
  font-weight: 100;
}

.hero-text .p2 {
  font-size: 30px;
  padding-top: 30px;
}

.hero-text p {
  font-size: 20px;
  padding-top: 20px;
}

.hero-text img {
  vertical-align: middle;
}

/* Sidebar styling */

.after-hero ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top:-70px;
}

.after-hero img {
  width: 325px;
}

/* Footer stying */

.foot-right img {
  width: 15px;
  height: 15px;
  vertical-align: -4px;
}

footer {
  width: 100%;
  color: #6e6e6e;
  font-size: 10px;
  padding-top: 30px;
  bottom: 0;
}

.foot-left {
  float: left;
  padding-left: 150px;
}

.foot-left p {
  padding-bottom: 20px;
}

.foot-right {
  float: right;
  padding-right: 150px;
}

.foot-right ul li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}
