@import "./reset.css";

body {
  background-color: blanchedalmond;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-section {
  background-image: url("/assets/img/center_image.jpg");
}
